$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$color-primary: #333;
$background-primary: #EFEFEF;

:root {
  font-family: $font-family;
  color: $color-primary;
  background: $background-primary;
}
